<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Coal – About</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div>
            <a href="index.html">Home</a>
        </div>
        <h1>About</h1>
    </header>
    <main id="about">
        <img src="coal-in-parliament.jpg" alt="Scott Morrison holding up a lump of coal in Parliament">
        <!-- TODO: Add image credit Nick Haggarty, ABC News (Australia) -->
        <figure>
            <blockquote>
                <p>This is coal.</p>
                <p>Don't be afraid, don't be scared. It won't hurt you. It's coal.</p>
                <p>It was dug up by men and women who work and live in the electorates of those who sit opposite.</p>
                <p>It's coal that has ensured for over a hundred years that Australia has enjoyed an energy competitive advantage, that has delivered prosperity to Australian businesses [...]</p>
            </blockquote>
            <figcaption>Scott Morrison addressing the Australian Parliament as Treasurer in 2017</figcaption>
        </figure>

        <hr>

        <p>After yet another record-breaking summer of heat and drought, the 2019 Australian election was fought over the environment.</p>
        <p>The environment lost.</p>
        <p>Scott Morrison – not the progressive opposition – would go on to preside over the most devastating bushfires the country has ever seen.</p>
        <p>The Black Summer destroyed 3,000 homes,<sup id="ref1"><a href="#fn1">1</a></sup> killed 800 million animals<sup id="ref2"><a href="#fn2">2</a></sup> and choked the country in smoke for months.</p>
        <p>Scientists have predicted that weather extremes, such as these, will become more frequent in the future as a result of climate change.</p> <!-- Cite IPCC? -->

        <hr>

        <p>Many Australians feel that coal is essential to their livelihood. It's the country's second largest export after iron ore.<sup id="ref3"><a href="#fn3">3</a></sup></p>
        <p>After years of environmental hold-ups and activist protests, the Morrison government approved plans for a new mine at Carmichael – the #StopAdani mine – shortly after their election victory.</p>
        <p>The cruel irony is that working people will suffer most in the coming century from extreme weather and water scarcity.</p>

        <hr>

        <p>It's easy to forget that much of the prosperity we enjoy is powered by billions of tonnes of fossilised material dug out of the ground. We don't often encounter lumps of coal in our day-to-day lives.</p>
        <p>This project started as an act of curiosity: opening a map to see where coal comes from and what it looks like.</p>
        <p>Assembled here are satellite images of operational coal mines in Australia.</p>
        <p>I was inspired to present the data in this format by Josh Begley's <cite><a href="http://www.prisonmap.com">Prison Map</a></cite>. Also striking is Mishka Henner's <cite><a href="https://mishkahenner.com/Feedlots">Feedlots</a></cite>.</p>
        <p>Thanks to Sarah for editing this text.</p>

        <hr>

        <p>Full code for processing the mines data, retrieving the satellite tiles and generating this site is available on <a href="https://github.com/simrun/coal">Github</a>.</p>

        <hr>

        <p>The <a href="operating_mines_feb2015.xlsx">database of mines</a> was sourced from Geoscience Australia and is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International Licence</a>. Copyright Commonwealth of Australia 2015.</p>
        <p>Satellite imagery is from Mapbox. Copyright <a href='https://www.mapbox.com/about/maps/'>Mapbox</a>, <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> and <a href="https://www.digitalglobe.com/">DigitalGlobe</a>.</p>

        <footer class="footnotes">
            <ol>
                <li id="fn1">
                    Bellinda Kontominas. <cite><a href="https://www.abc.net.au/news/2020-04-16/bushfire-royal-commission-begins-into-australia-black-summer/12152680">Bushfire Royal Commission into Australia's harrowing 'Black Summer' begins in Canberra</a></cite>, ABC News (Australia). Accessed Thursday 16 April 2020.
                    <a class="footnote-backlink" href="#ref1"></a>
                </li>
                <li id="fn2">
                    <cite><a href="https://www.sydney.edu.au/news-opinion/news/2020/01/08/australian-bushfires-more-than-one-billion-animals-impacted.html">More than one billion animals killed in Australian bushfires</a></cite>, University of Sydney News. Accessed Thursday 16 April 2020.
                    <a class="footnote-backlink" href="#ref2"></a>
                </li>
                <li id="fn3">
                    <cite><a href="https://www.dfat.gov.au/sites/default/files/australias-goods-services-by-top-25-exports-2018-19.pdf">Australia's top 25 exports, goods & services 2018-19</a></cite>, Department of Foreign Affairs and Trade, Australian Government. Accessed Thursday 16 April 2020.
                    <a class="footnote-backlink" href="#ref3"></a>
                </li>
            </ol>
        </footer>
    </main>
</body>
</html>