<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Coal – About</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="header"><a href="index.html">Home</a><h1>About</h1></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum soluta mollitia quasi tempore assumenda esse voluptates
        quas eos enim vitae exercitationem porro delectus corrupti tempora ab
        nesciunt, aspernatur praesentium. Temporibus.</p>
</body>
</html>