<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Coal – About</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div>
            <a href="index.html">Home</a>
        </div>
        <h1>About</h1>
    </header>
    <main id="about">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum soluta mollitia quasi tempore assumenda esse voluptates
        quas eos enim vitae exercitationem porro delectus corrupti tempora ab
        nesciunt, aspernatur praesentium. Temporibus.</p>
    </main>
</body>
</html>