<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>This is coal.</title>
	<meta property="og:title" content="This is coal.">

	<meta name="description" content="Visualising coal mines in Australia">
	<meta property="og:description" content="Visualising coal mines in Australia">

	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<div id="left">
			<a id="fixed" href="about.html">About</a>
		</div>
		<h1>This is coal.</h1>
		<div id="right">
			<a href="http://sim.run/" rel="author">Simrun Basuita</a>
		</div>
	</header>
	<main id="gallery"></main>
</body>
</html>