body {
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
}

header > div {
    flex: 1;
}

header::after {
    content: '';
    flex: 1
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
}

img {
    width: 100%;
}