:root {
    --text-color: silver;
}

body {
    font-family: sans-serif;
    color: var(--text-color);
    background-color: black;
}

a:link, a:visited {
    color: var(--text-color);
}

a:hover {
    color: white;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 0.4em;
}

header a {
    text-decoration: none;
    font-size: 0.8em
}

header {
    display: grid;
    margin-top: 1em;
}

header > div {
    display: flex;
    align-items: center;
}

header #left {
    grid-row: 1;
}

header #left a{
    margin-left: 4vw;
}

header #right {
    grid-row: 1;
    grid-column: 2;
    justify-content: flex-end;
}

header #right a{
    text-align: right;
    margin-right: 4vw;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
}

@media (min-width: 1000px) {
    #gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.7vw;
    }
}

#gallery img {
    width: 100%;
}

#about {
    max-width: 35em;
    margin: auto;
    padding-bottom: 1vh;
}

hr {
    width: 10%;
    margin: 1.5em auto;
}

.image {
    margin: 20px;
}

.image img {
    width: 100%;
}

figcaption {
    text-align: right;
}

.quote {
    margin: 0;
}

.quote blockquote {
    font-style: italic;
}

.quote figcaption {
    margin-right: 80px;
}

.ref {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.footnotes li {
    margin: 0.5em auto;
}

.footnotes .footnote-backlink {
    text-decoration: none;
}

.footnotes .footnote-backlink::after {
    content: "⏎"
}