:root {
    --text-color: silver;
}

body {
    font-family: sans-serif;
    color: var(--text-color);
    background-color: black;
}

a:link, a:visited {
    color: var(--text-color);
}

a:hover {
    color: white;
}

header a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
}

header > div {
    flex: 1;
    display: flex;
    align-items: center;
}

header #left a{
    margin-left: 2em;
}

header #right {
    justify-content: flex-end;
}

header #right a{
    margin-right: 2em;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.4vw;
}

#gallery img {
    width: 100%;
}

#about {
    max-width: 35em;
    margin: auto;
    padding-bottom: 1vh;
}

hr {
    width: 10%;
    margin: 1.5em auto;
}

.image {
    margin: 20px;
}

.image img {
    width: 100%;
}

figcaption {
    text-align: right;
}

.quote {
    margin: 0;
}

.quote blockquote {
    font-style: italic;
}

.quote figcaption {
    margin-right: 80px;
}

.ref {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.footnotes li {
    margin: 0.5em auto;
}

.footnotes .footnote-backlink {
    text-decoration: none;
}

.footnotes .footnote-backlink::after {
    content: "⏎"
}